* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#head-top {
    height: 80px;
    width: 100%;
    background-color: rgb(242, 104, 132);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    height: 80px;
    width: 80px;
    background-image: url(logo.jpg);
    background-size: cover;
}

#list {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 20px;
}

.taga {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration: none;
}


/* Dropdown styles */
.dropdown-button,
.dropdown-button1,
.dropdown-button2 {
    border: none;
    background-color: inherit;
    display: inline-block;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration: none;
}

.dropdown, .dropdown1, .dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-content1,
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgb(54, 185, 185);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a,
.dropdown-content1 a,
.dropdown-content2 a {
    color: rgb(153, 0, 0);
    font-weight: 800;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content1 a:hover,
.dropdown-content2 a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content,
.dropdown1.show .dropdown-content1,
.dropdown2.show .dropdown-content2 {
    display: block;
}

#search-input {
    width: 220px;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
}

.search-icon i,
.account i,
.wise i,
.cart i {
    width: 45px;
    font-size: large;
    display: flex;
    justify-content: center;
    color: aliceblue;
}


/* main*/


.kundan-box{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.kundanp1,
.kundanp2,
.kundanp3,
.kundanp4,
.kundanp5,
.kundanp6,
.kundanp7,
.kundanp8,
.kundanp9,
.kundanp10,
.kundanp11,
.kundanp12{
    height: 300px;
    width: 300px;
    background-size: cover;
}

.kundanp1{ background-image: url(kundan/kundan1.jpeg);}
.kundanp2{ background-image: url(kundan/kundan7.jpeg);}
.kundanp3{ background-image: url(kundan/kundan2.jpeg);}
.kundanp4{ background-image: url(kundan/kundan8.jpeg);}
.kundanp5{ background-image: url(kundan/kundan3.jpeg);}
.kundanp6{ background-image: url(kundan/kundan9.jpeg);}
.kundanp7{ background-image: url(kundan/kundan4.jpeg);}
.kundanp8{ background-image: url(kundan/kundan13.jpeg);}

.kundanp9{ background-image: url(kundan/kundan5.jpeg);}
.kundanp10{ background-image: url(kundan/kundan11.jpeg);}
.kundanp11{ background-image: url(kundan/kundan6.jpeg);}
.kundanp12{ background-image: url(kundan/kundan12.jpeg);}

.btn1{
    margin-top: 5px;
    height: 30px;
    width: 100px;
    background-color: indianred;
    color: #fff;
    border: none;
     
}


.choice{
    display: flex;
    align-items: center;
    width: 200px;
}
.whish{
    padding-left: 20px;
    font-size: 30px;
    color: indianred;
}

.check{   
    display: flex;
    margin-top: 5px;
}

.line{
 color: #5c5a5a;
 text-decoration: line-through;
 margin-top: 5px;
 margin-left: 8px;
font-family: geograph-regular;
}

.seller_per{
    font-weight: bolder;
    margin-top: 5px;
     margin-left: 8px;
     font-family: geograph-regular;
    }
    

/* footer*/
    
footer{
    margin-top: 50px;
    height: 200px;
    width: 100%;
    background-color:rgb(209, 100, 100) ;
    

}

.boxf{
    
    display: flex;
    justify-content: space-around;
    
}
ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}
li{
    padding-top: 10px;
    margin-left: 30px;
    list-style-type: none;
    
}
h2{
    color: #fff;
}